[Bb]in/
[Oo]bj/
/src/**/bin/
/src/**/obj/

.idea/
.vs/
*.user
*.suo
*.userprefs
*.usertasks
*.sln.docstates

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

/Libs/
/References/
*.dll
*.pdb

!/LocalBuild/

.DS_Store
Thumbs.db